---
import LayoutSidebar from '../../../../app/LayoutFull.astro';
import Drawer from "../../../../component/Drawer.astro";
import Pagination from "../../../../component/Pagination.astro";
import Sorting from "../../../../component/Sorting.astro";
import Breadcrumb from '../../../../component/Breadcrumb.astro';
import ActionButton from '../../../../component/ActionButton.astro';
import FilterCheckbox from "../../../../component/FilterCheckbox.astro";
import FilterSearch from '../../../../component/FilterSearch.astro';
import Form from "./form.astro";
const locals = Astro.locals;
const hasManage = locals?.accessCodes?.includes('001.02.03.01');
---
<LayoutSidebar active="topics">
	<Breadcrumb list={[{ name: "Management", link: "management" },{ name: "Topics", link: "" }]}>
		<div class="flex flex-row gap-3">
			<Sorting storeName="topics" columns="columns" />
			<button class="btn-icon white lg" @click="$store.topics.onInit(window.location)"><i class="fas fa-sync-alt"></i></button>
			<button x-show={`${hasManage}`} class="btn-icon active lg" @click="$store.topics.onInsert()"><i class="fas fa-plus"></i></button>
		</div>
	</Breadcrumb>
	<div class="table-responsive paper">
		<table class="table border strip">
			<thead>
				<tr>
					<th x-show={`${hasManage}`}></th>
					<th class="w-full">Name</th>
					<th class="min-w-44">Platforms</th>
					<th class="min-w-96">Subjects</th>
					<th>Active</th>
				</tr>
				<tr>
					<th x-show={`${hasManage}`}></th>
					<th><FilterSearch storeName="topics" ref="searchName" method="search" column="name" placeholder="Name"/></th>
					<th>
						<select 
							class="input w-full" 
							:value=`$store.topics.filters.platform_id`
							@change=`
								$store.topics.filters.subject_id = 0;
								$store.topics.onColumnListChange('platform_id', Number($el.value)); 
								$store.topics.column.subjects = await $store.topics.getSubjects($el.value || 0);
							`>
							<option value="">All</option>
							<template x-for={`i in $store.topics.column.platforms`}>
								<option :value="i.id" x-text="i.name"></option>
							</template>
						</select>
					</th>
					<th>
						<select 
							class="input w-full" 
							:value=`$store.topics.filters.subject_id`
							@change="$store.topics.onColumnListChange('subject_id', $el.value)">
							<option value="">All</option>
							<template x-for={`i in $store.topics.column.subjects`}>
								<option :value="i.id" x-text="i.name"></option>
							</template>
						</select>
					</th>
					<th><FilterCheckbox storeName="topics" column="is_active"/></th>
				</tr>
			</thead>
			<tbody x-show="$store.topics.items.length > 0">
				<template x-for="r in $store.topics.items" :key="r.id">
					<tr>
						<td x-show={`${hasManage}`} class="flex justify-center">
							<ActionButton position="bottom" show={`r.showAction`} 
								actions={[
									{ label: 'Edit', click: `$store.topics.onEdit(r)`, show: hasManage },
									{ label: 'Delete', click: `$store.topics.onDelete(r)`, show: hasManage },
									{ label: 'Copy ID', click: `$store.topics.copyId(r.id)`, show: hasManage }
								]} 
							/>
						</td>						
						<td x-text="r.name"></td>
						<td x-text="r.platform_name"></td>
						<td x-text="r.subject_name"></td>
						<td class="text-center">
							<i :class="`fas ${r.is_active ? 'fa-check text-green-500' : 'fa-times text-red-500'}`"></i>
						</td>
					</tr> 
				</template>    
			</tbody>
		</table>
	</div>
	<div class="spacer"></div>
	<Pagination storeName="topics" />
	<Drawer item="$store.topics.item" title="Subject" showDrawer="$store.topics.showDrawer">
		<Form item="$store.topics.item" hasManage={hasManage} />
	</Drawer>
</LayoutSidebar>
