---
import LayoutFull from "../app/Layout.astro";
import AdCard from "../component/AdCard.astro";
import ContactCard from "../component/ContactCard.astro";
import Pagination from "../component/Pagination.astro";
import Search from "../component/Search.astro";
import Sorting from "../component/Sorting.astro";
const { user } = Astro.locals;
const source = `${import.meta.env.SUPABASE_URL}/storage/v1/object/public/images/stores/`;
const blank = `${import.meta.env.SUPABASE_URL}/storage/v1/object/public/images/blank.webp`;
---
<LayoutFull active="stores">
    <div class="card text-center sm:text-left">
        <div class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3">
            <div class="flex flex-col md:flex-row items-center gap-4 relative">
                <div class="avatar lg rounded-full border border-b-2" x-data=`{source: '${source}', blank: '${blank}'}`>
                    <img
                        :alt="$store.store.item.name" 
                        :src="$store.store.item.image ? `${source}${$store.store.item.image}` : blank"
                        width={100} 
                        height={100} 
                    />
                </div>
                <div class="flex flex-col ">
                    <div class="title flex flex-row items-center gap-2">
                        <span x-text="$store.store.item.name"></span>
                        <i x-show="$store.store.item.is_verified" class="fas fa-certificate text-primary-500"></i>
                    </div>
                    <div class="text" x-text="$store.store.item.tagline"></div>
                </div>
            </div>
            <template x-if="$store.store.item.phone">
                <ContactCard 
                    tel="`tel:${$store.store.item.phone}`"
                    whatsapp="`https://wa.me/${$store.store.item.phone}`"
                    phone="$store.store.item.phone"
                />
              </template>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5 md:gap-7 mt-5 md:mt-7">
        <div class="col-span-1 md:col-span-1">
            <div class="card flex flex-col gap-2 text-center sm:text-left">
                <div class="label gray"><i class="fas fa-info-circle mr-2 text-primary"></i>About Store</div>
                <div class="text" x-text="$store.store.item.about"></div>
                <div class="divider my-3"></div>
                { user &&
                    <div class="label gray"><i class="fas fa-map-marker-alt mr-2 text-primary"></i>Store Address</div>
                    <div class="text flex flex-row gap-1">
                        <span x-text="$store.store.item.address"></span>,
                        <span x-text="$store.store.item.city_name"></span>-
                        <span x-text="$store.store.item.country_name"></span>.
                    </div>
                    <a href={"$store.store.item.location"} class="link label" target="_blank">View Location map</a>
                    <div class="divider my-3"></div>
                }
                <div class="label gray"><i class="fas fa-clock mr-2 text-primary"></i>Store Timings</div>
                <div class="label" x-text="$store.store.item.timings"></div>
                <div class="divider my-3"></div>
                <p class="label gray"><span x-text="$store.store.item.views_count"></span> Views</p>
                <p class="text gray">Join at: <span x-text="$store.store.item.created_at"></span></p>
            </div>
            <div class="spacer"></div>
            <div class="flex flex-row justify-center gap-3">
                <button type="button" class="btn-default white" name="Share"><i class="fas fa-share-alt mr-2" />Share</button>
                <button type="button" class="btn-default white" name="Favorites"><i class="fas fa-star mr-2" />Favourite</button>
            </div>
        </div>
        <div x-show="$store.store.total > 0" class="col-span-1 md:col-span-2 lg:col-span-3">
            <div class="flex flex-col sm:flex-row justify-between items-center gap-3">
                <div class="title">Ads (<span x-text="$store.store.total"></span>)</div>
                <div class="flex flex-col sm:flex-row justify-between gap-3">
                    <Search storeName="store" ref="searchName" method="search" column="name" placeholder="Search"/>
                    <Sorting storeName="store" columns="publicColumns" />
                </div>
            </div>
            <div class="spacer"></div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-5 lg:gap-7 items-start">
                <template x-for="i in $store.store.items" :key="i.id">
                    <AdCard
                        id="i.id"
                        name="i.name"
                        url="`/ad?adId=${i.id}`" 
                        image="i.image ? `${source}${i.image}` : blank"
                        category="i.category_name"
                        subcategory="i.subcategory_name"
                        service="i.service_name"
                        subservice="i.subservice_name"
                        is_featured="i.is_featured"
                        price="i.price"
                        price_type="i.price_type_name"
                        ad_type="i.ad_type_name"
                        />
                </template>
            </div>
            <div class="spacer"></div>
            <Pagination storeName="store"/>
        </div>

        <div x-show="$store.store.total === 0" class="col-span-1 md:col-span-2 lg:col-span-3">
            <div class="flex flex-col sm:flex-row justify-between items-center gap-3">
                <div class="title">(<span x-text="$store.store.total"></span>) Ads Found</div>
            </div>
        </div>

    </div>
</LayoutFull>