---
import { url } from '../lib/data.js';
import ProtectedMenus from './protectedMenus.astro';
import PublicMenus from './publicMenus.astro';
const { user, roleName, accessCodes } = Astro.locals;
const {active, style} = Astro.props;
const notifications = [
	{ message: 'New message from User Vendor', timestamp: 'a few moments ago' },
	{ message: 'Ad Posted by Vendor Waiting for approval', timestamp: '10 minutes ago' },
	{ message: 'Love your story. See it and view more stories.', timestamp: '44 minutes ago' },
	{ message: 'New message from User Vendor', timestamp: '1 hour ago' },
	{ message: 'Ad Posted by Vendor Waiting for approval', timestamp: '10 hours ago' },
	{ message: 'Ad Posted by Vendor Waiting for approval', timestamp: '10 minutes ago' },
]
---
<div 
	x-data="{showMenu: false}" 
	class="bg-white border-b shadow-sm relative z-20 py-3" 
	:class="{ 'sticky top-0 left-0 right-0': atTop, 'relative': !atTop }" 
	@scroll.window="atTop = (window.pageYOffset < 50) ? false: true">
	<div class={`${style} flex items-center justify-between mx-auto`}>
		<div  class="flex items-center justify-start relative">
			<button @click="showMenu = !showMenu" @click.away="showMenu = false" type="button" class="btn-icon lg md:hidden mr-3">
				<span x-show="!showMenu"><i class="fas fa-bars"></i></span>
				<span style="display: none;" x-show="showMenu"><i class="fas fa-times"></i></span>
			</button>
			<a href="/" class="flex items-center -ml-2" title="quiz.Institute" aria-label="Quiz.Institute">
				<div class="flex flex-row gap-1 title text-2xl whitespace-nowrap">
					<span class="text-primary font-semibold">Quiz </span>
					<span class="hidden sm:block font-normal">Institute</span> 
				</div>
			</a>
		</div>
		<div class="flex items-center justify-center">
			<div class="hidden md:flex">
				<ul class="flex space-x-6">
					<PublicMenus active={active} styles="link text-sm" />
				</ul>
			</div>
		</div>
		{user ?
			<div x-data="{showNotification: false, showUser: false}" class="flex gap-3 items-center relative">				
				<button 
					x-on:click="showNotification = !showNotification" x-on:click.away="showNotification = false" 
					class="btn-icon lg"
					aria-label="Notifications" 
					title="Notifications">
					<i class="fas fa-bell"></i>
				</button>
				<ul x-show="showNotification" style="display: none;" class="dropdown-box w-72 right-0 top-[50px]">
					<div class="title text-center border-b p-2 bg-gray-50">Notifications</div>
					{notifications.map(n => (
						<li>
							<a href={url('notifications')} class="dropdown-link">
								<div class="flex flex-row justify-start gap-3 items-center">
									<div class="btn-icon lg"><i class="fas fa-user"></i></div>
									<div class="flex flex-col overflow-hidden">
										<div class="text truncate ">{n.message}</div>
										<div class="txt gray">{n.timestamp}</div>
									</div>
								</div>
							</a>
						</li>
					))}
					<div class="flex justify-center p-2 bg-gray-50">
						<a href={url('notifications')} class="btn-default"><i class="fas fa-eye mr-1"></i>View All</a>
					</div>
				</ul>
				<button 
					x-on:click="showUser = !showUser" x-on:click.away="showUser = false" 
					class="btn-icon lg active" 
					aria-label="User Links" 
					title="User Links">
					<i class="fas fa-user"></i>
				</button>
				<ul x-show="showUser" style="display: none;" class="dropdown-box right-0 top-[50px]">
					<div class="bg-gray-50 px-4 py-3 overflow-hidden">
						<p class="label truncate">{user?.user_metadata?.name}</p>
						<p class="txt gray truncate">{roleName}</p>
					</div>
					<ProtectedMenus active={active} accessCodes={accessCodes} styles="dropdown-link"/>
					<li><button x-on:click="$store.signout.onSignOut()" data-astro-prefetch="false" class="dropdown-link" title="Logout">Logout</button></li>
				</ul>
			</div> :
			<div class="flex flex-row gap-3">
				<a href={url('authentication/signin')} class="btn-primary" title="Login">Login</a>
			</div>
		}
	</div>
	<!-- Mobile Menu -->
	<ul x-show="showMenu" style="display: none;top:60px" class="dropdown-box w-full">
		<PublicMenus active={active} styles="dropdown-link"/>
	</ul>
</div>
