---
import { url } from '../lib/data.js'
const {active, styles, icon } = Astro.props;
const menus = [
    { name: 'Home', active: active?.includes('home')! ? 'active' : '', link: ''},
    { name: 'Platforms', active: active?.includes('platforms')! ? 'active' : '', link: 'platforms' },
    { name: 'Subjects', active: active?.includes('subjects')! ? 'active' : '', link: 'subjects'},
    { name: 'Topics', active: active?.includes('topics')! ? 'active' : '', link: 'topics'},
    { name: 'Roadmaps', active: active?.includes('roadmaps')! ? 'active' : '', link: 'roadmaps'},
    { name: 'Quiz', active: active?.includes('quiz')! ? 'active' : '', link: 'quiz' },
    { name: 'Pricing', active: active?.includes('pricing')! ? 'active' : '', link: 'pricing' }
]
---
{menus.map((c: any) => (
    <li>
        <a class={`${c.active} ${styles}`} href={url(c.link)} title={c.name}>
            {icon && <i class={`fas ${c.icon} mr-1 ml-1`}></i>}{c.name}
        </a>
    </li>
))}