---
import { url } from '../lib/data.js'
const {active, styles, icon } = Astro.props;
const menus = [
    { name: 'Home', active: active?.includes('home')! ? 'active' : '', link: ''},
    { name: 'Quiz', active: active?.includes('quiz')! ? 'active' : '', link: 'quiz' },
    { name: 'Results', active: active?.includes('results')! ? 'active' : '', link: 'results' },
    { name: 'Pricing', active: active?.includes('pricing')! ? 'active' : '', link: 'pricing' }
]
---
{menus.map((c: any) => (
    <li>
        <a class={`${c.active} ${styles}`} href={url(c.link)} title={c.name}>
            {icon && <i class={`fas ${c.icon} mr-1 ml-1`}></i>}{c.name}
        </a>
    </li>
))}