---
export const partial = true;
const {id, name, folder, image, style} = Astro.props
const source = `${import.meta.env.SUPABASE_URL}/storage/v1/object/public/images/${folder}/`;
const blank = `${import.meta.env.SUPABASE_URL}/storage/v1/object/public/images/blank.webp`;
---
<div class={`avatar ${style}`} x-data=`{source: '${source}', blank: '${blank}'}`>
    <img 
        id={id} 
        :alt={name} 
        x-bind:src={image} 
        width="100" 
        height="100" 
    />
</div>
