---
export const partial = true;
const { list } = Astro.props;
import { url } from "../lib/data";
---
<div class="flex flex-col sm:flex-row items-center justify-between gap-3">
    <nav aria-label="Breadcrumb">
        <ol class="inline-flex items-center">
            <li class="inline-flex items-center">
                <a href={url()} aria-label="Go To Home Page" class="inline-flex items-center link">
                    <i class="fas fa-home hover:fill-primary-500"></i>
                </a>
            </li>
            {list.map((l:any, index: number) => (
                <li>
                    <div class="flex flex-row items-center">
                        <i class="fas fa-angle-right opacity-50 mx-2 text gray"></i>
                        {
                            (list.length - 1) === index ? 
                            <span class="whitespace-nowrap capitalize text-lg text-primary font-semibold">{l.name}</span> : 
                            <a 
                                href={url(l.link)} 
                                aria-label={`${l.name} Section`}
                                class="link text-lg whitespace-nowrap capitalize" 
                                aria-label={`Go To ${l.name} Page`}>{l.name}
                            </a>
                        }
                    </div>
                </li>
            ))}
        </ol>
    </nav>
    <slot />		
</div>
<div class="spacer"></div>