---
import Avatar from "./Avatar.astro";
export const partial = true;
const {id, url, name, image, count, is_verified} = Astro.props;
---
<a :href={url} :title={name} class="card hover block overflow-hidden">
    <div class="flex flex-col justify-center gap-2">
        <div class="relative w-fit mx-auto">
            <i x-show={is_verified} class="fas fa-certificate text-lg text-primary block absolute top-2.5 right-2.5 z-10"></i>
            <Avatar id={id} name={name} image={image} folder="stores" style="lg rounded-full border border-b-2"/>
        </div>
        <div class="overflow-hidden flex flex-col  text-center">
            <div class="label truncate" x-text={name ? name : "no name"}></div>
            <div class="txt gray"><span x-text={count ? count : "0"}></span> Ads</div>
        </div>
    </div>
</a>

